.dotImageRotateAnime{
    animation-name: dotImageRotateAnime;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes dotImageRotateAnime{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(180deg);
    }
}

.YlwGrnCircleBox{
    transform: rotate(35deg);
}

.ylwCircle{
    left: 5px;
}

.grnCircle{
    right: 5px;
}

@keyframes ripple{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 41, 0.3), 
        0 0 0 1em rgba(0, 0, 41, 0.2), 
        0 0 0 3em rgba(0, 0, 41, 0.03),
        0 0 0 5em rgba(0, 0, 41, 0.01);

    }

    100%{
        box-shadow: 0 0 0 1em rgba(0, 0, 41, 0.2),
         0 0 0 3em rgba(0, 0, 41, 0.02), 
         0 0 0 5em rgba(0, 0, 41, 0.02), 
         0 0 0 8em rgba(0, 0, 41, 0.01);
    }
}